.fluid-container.correcion{
    position: relative;
    transform: translate(0, 80px);
}

.btnDescargar {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  float: right;
}

.btnDescargarVoz {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;

}

/* Darker background on mouse-over */
.btnDescargar:hover {
  background-color: RoyalBlue;

}
.btnDescargarVoz:hover {
  background-color: RoyalBlue;

}
