.container.pad {
    padding-top: 30px;
}

.botoneraE {
    display: flex;
    justify-content: center;
}

.botonera {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.botonespacio {
    padding-left: 10px;
    padding-right: 10px;
}

.prueba .abcjs-inner svg{
    -webkit-transform-origin-x: unset !important;
    width: 100px;
    height: 500px;
}

.prueba > div > div {
    width: unset !important;
}

/*.prueba .abcjs-inner{
    width: 50%;
    margin: 0;
}*/

.desaparecer {
    display: none;
}

.encabezado {
    float: right;
    padding-right: 60px;
}

#midi-id {
    width: 900px;
    display: inline-block;
}

.item .image{
    width: 30px;
    height: 30px;
}

.modal-90w {
    width: 90%;
    max-width: none;
}

.modal-styling-title{
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}