.container-fluid.vertical-center {
	position: absolute;
    width: 80%;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,60%);
    position: absolute;
  }


  .fila {
    min-height: 150px;
    position: relative;
    text-align: center;
  }

  .columna_centrada {
    display: inline-block;
    width: 500px;
  }


  .columna_centrada.input {
    width: 100000px;
    height: 50px;
    display: block;
  }

  .logoEmpezar {
    width: 400px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    /*width: 50%;*/
    right: 50%;
    bottom: 50%;
    transform: translate(50%,-210%);
    position: absolute;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(80%);
}
.carousel-indicators  {
	filter: invert(80%);
}

.imageCarousel{
	margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
