/*.center {
    display: inline-block;
    padding: 20px;
    height: auto;
    width: auto;
    min-width: 200px;
  }*/

  .center{
    width: 100%;
    object-fit: cover;
    padding: 20px;
    height: 400px;
    }

  section.example {
    text-align: justify;
    padding: 20px;
  }
  
  @media screen and (min-width: 601px) {
    section.example {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    section.example {
      font-size: 15px;
    }
  }